[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.2"
numpy = "==1.26.4"
matplotlib = "==3.8.4"
scikit-learn = "==1.4.2"
seaborn = "==0.13.2"
openpyxl = "==3.1.2"
joblib = "==1.4.0"
xgboost = "==2.0.3"
imblearn = "==0.0"
statsmodels = "==0.14.2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
